<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="pull-left">
                <h2>{{ contact.name }}</h2>
                <img [src]="contact.imageUrl" alt="{{ contact.name }}" class="img-responsive">
            </div>
            <div class="pull-right">    
                <button class="btn btn-info">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </div>
        </div>
        <div class="panel-body">
            <a href="#" class="list-group-item clearfix">
                <div>
                    <p><strong>Email:</strong>{{ contact.email }}</p>
                    <p><strong>Phone:</strong>{{ contact.phone }}</p>
                </div>
            </a>
        </div>
    </div>
</div>